@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Qwitcher+Grypen&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&family=Roboto:ital,wght@0,400;0,500;1,300;1,400&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Qwitcher+Grypen&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,300;1,400&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* glases 
box-shadow: 35px 35px 68px 0px rgba(255, 255, 255, 0.5), inset -8px -8px 16px 0px rgba(255, 255, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
*/


/* @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  } */
  /* Medium */
  /* @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  } */
  /* Large */
  /* @media (min-width: 1200px) {
    .container {
      width: 1170px;
    } */

 ::-webkit-scrollbar { 
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(320deg, rgba(62, 150, 172, 0.89), #0b788ba1 );
    border-radius: 15px;
    transition: 0.4s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0a5e74; 
  }


body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    background-color: #072a31;
}
a {
    text-decoration: none;
    transition: 0.5s;
}
.container {
    width: 100% !important;
}
i {
    color: #fff;
}
 .reload {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(40px); 
    -webkit-backdrop-filter: blur( 40px );
    background: rgba( 255, 255, 255, 0.3 );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    transition: 0.6s all;
    display: flex;
    align-items: center;
    justify-content: center;
 } 
 .reload .contain-span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 110px;
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }
 .reload .contain-span::after {
    position: absolute;
    content: "";
    border: #1c8294da solid 13px;
    border-left-color: transparent;
    height: 110px;
    width: 110px;
    border-radius: 50%;
 }
 @keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
} 
 /* .reload .contain-span .span1 {
    position: absolute;
    height: 80px;
    width: 80px;
    border: 10px solid #1c8294da;
    border-right-color: transparent;
    backdrop-filter: blur(40px); 
    -webkit-backdrop-filter: blur( 40px );
    border-radius: 50%;
    animation-name: rotate2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }
 @keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  */
 .reload .contain-span .span2 {
 }
 .remove {
   opacity: 0;
 }



































  


/*========================================== START HEADER =============================================*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    position: fixed;
    height: 80px;
    width: 100%;
    transition: 0.3s all ease-in;
    z-index: 999;
    overflow: hidden;
    /* padding: 0 120px; */
}
.blur {
    position: fixed;
    backdrop-filter: blur(40px); 
    -webkit-backdrop-filter: blur( 40px );
    background: rgba( 255, 255, 255, 0.3 );
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

header .left-header h1 a{
    color: #fff;
    font-size: 31px;
    position: relative;
    border: #fff 3px solid;
    padding: 4px 12px;
    transition: 0.5s;
    position: relative;
    border-radius: 3px;
    font-family: 'Source Serif Pro', serif;
}

header .left-header h1 a:hover {
    background-color: #1ac5e4d2;
    /* color: #000; */
    
}
header .middle-header {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 18px;
}
header .middle-header li a {
    color: #fff;
    padding: 6px 15px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 4px;
    font-weight: 500;
    transition: all ease-in 0.3s;
}
header .middle-header li a:hover ,
header .middle-header li a.active {
    color: #1ac5e4d2;
    font-weight: 200;
}
header .middle-header li a::before {
    position: absolute;
    bottom: 20px;
    content: "";
    height: 4px;
    width: 0;
    background-color: #1ac5e4d2;
    visibility: hidden;
    transition: 0.3s all ease;
    border-radius: 6px;
}
header .middle-header li a:hover::before ,
header .middle-header li a.active::before {
    visibility: visible;
    width: 45px;
}

header i {
    display: none !important;
    color: #fff;
    font-size: 30px;
    cursor: pointer; 
}
header .right-header a {
    background-color: #1ac6e4;
    padding: 12px 35px;
    color: #fff;
    border-radius: 4px;
    letter-spacing: 1px;    
}
@media screen and (max-width:1150px) {
    header {
        justify-content: space-between;
        padding: 10px 30px;
    }
    header .middle-header {
        display: none;
    }
    header i {
        display: block !important;
    }
    header .right-header {
        display: none;
    }
   
}
.header-phone {
    width: 0px;
    position: fixed;
    right: -20px;
    top: 80px;
    /* background-color: #1ac6e4; */
    padding: 10px;
    overflow: hidden;
    /* height: 400px; */
    height: 95vh;
    z-index: 999;
    backdrop-filter: blur(40px); 
    -webkit-backdrop-filter: blur( 40px );
    background: rgba( 255, 255, 255, 0.3 );
    transition: all ease-in 0.4s;
}
.header-phone .fa-xmark {
    color: #fff;
    font-size: 32px;
    cursor: pointer; 
    padding: 15px;
    text-align: center;
    margin: auto;
}
.header-phone li {
    list-style: none;
    /* padding: 20px; */
    text-align: center;
}
.header-phone li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 30px 15px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 4px;
    font-weight: 500;
    transition: all ease-in 0.3s;
    background-color: #2aabc2;
    margin-top: 5px;
}
.header-phone .contain-social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
}
.header-phone .contain-social i {
    color: #fff;
    font-size: 30px;
    padding: 15px 15px;
    cursor: pointer;
    width: 30%;
    transition: 0.4s;
    border-radius: 4px;
}
.header-phone .contain-social i:hover {
    background-color: #2aabc2;
}
.heasphoneClick {
    width: 100%;
    right: 0;
}
/*========================================== END HEADER =============================================*/

/*========================================== START LANDING PAGE =============================================*/
.landing-page {
    position: relative;
    z-index: 1;
    height: 105vh;
    width: 100vw;
    /* object-fit: cover; */
}
.landing-page::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(250deg, #000,#2a5d64d2, #14acc7 );
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    z-index: -1;
}
.landing-page img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -999;
    object-fit: cover;
}
.landing-page .main-contain {
    position: relative;
    top: -700px;
    text-align: center;
}
.contain-page {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.contain-page .contain-icon-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 45px;
    left: -40px;

}
.contain-page .contain-icon-social i {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    margin: 5px;
}
.contain-page h1 {
    color: #fff;
    font-size: 150px;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    /* width: 100%; */
    text-transform: uppercase;
}
.contain-page p {
    color: #e7e7e7;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}
.contain-page a {
    color: #f5f5f5;
    border: 2px #f5f5f5 solid;
    font-size: 22px;
    padding: 13px 32px;
    /* background-color: #1ac5e4d2; */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    top: 30px;
    transition: 0.4s;
    z-index: 11;
}
.contain-page a::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    background-color: #1ac5e4d2;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s ease-out;
}
.contain-page a::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    background-color: #1ac5e4d2;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.4s ease-out;
}
.contain-page a:hover::after,
.contain-page a:hover::before {
    width: 50%;
}
@media screen and (max-width:1150px) {
    .landing-page {
        height: 100vh;
    }
    .contain-page {
        position: relative;
        top: 100px;
    }
    .contain-page h1 {
        font-size: 120px;
        text-align: center;
    }
    .contain-page .contain-icon-social {
       display: none;
    }
}
@media screen and (max-width:720px) {
    .contain-page h1 {
        font-size: 90px;
        padding-right: 10px;
    }
    .contain-page p {
        font-size: 27px;
        padding-right: 10px;
    }
}
/*========================================== END LANDING PAGE =============================================*/

/*========================================== START SERVICES SEC =============================================*/

.services {
    position: relative;
    z-index: 99;
    overflow-x: hidden;
    /* min-height: 20vh; */
    width: 100% !important;
    background-color: #062a30;
    color: #fff;
    padding: 30px 10px;
}
.services-title {
    color: #ebebeb;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 999;
    transition: 0.3s;
}
.services-title:hover {
    letter-spacing: 4px;
}
.services-title::after {
    content: "";
    position: absolute;
    height: 9px;
    width: 80px;
    right: 260px;
    top: 20px;
    background: linear-gradient(320deg,#338fa1c5 , rgba(13, 78, 87, 0.836));
    overflow: auto;
}
.services-title::before {
    content: "";
    position: absolute;
    height: 9px;
    width: 80px;
    left: 260px;
    top: 20px;
    background: linear-gradient(320deg,#338fa1c5 , rgba(13, 78, 87, 0.836));
    overflow: auto;
}

 .services .contain-services {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 30px;
    overflow: hidden;
}
.services .contain-services i {
    font-size: 24px;
}
.services .contain-services .card-services {
    background: linear-gradient(320deg,#338fa146 , rgba(13, 78, 87, 0.274));
    padding: 20px 50px;
    text-align: center;
    margin: 5px;
    transition: 0.4s all ease-in-out;
    position: relative;
    border-radius: 6px;
    /* width: 400px;
    height: 300px; */
}
.services .contain-services .card-services::after {
    position: absolute;
    bottom: 0;
    left: 0px;
    content: "";
    height: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.2s ease-out;
}
.services .contain-services .card-services:hover::after {
    height: 5px;
    box-shadow: 0px 0px 90px #fff;
}
.services .contain-services .card-services p {
    color: rgb(224, 224, 224);
}
.services .contain-services .card-services:hover {
    background-color: #144d58e7;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 3px 5px;
    border-radius: 8px;
}

/*========================================== EDN SERVICES SEC =============================================*/





/*========================================== START SEC ABOUT =============================================*/
.about-title {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
}
/* .about-title::after {
    content: "";
    position: absolute;
    height: 9px;
    width: 80px;
    right: 260px;
    top: 50px;
    background: linear-gradient(320deg,#338fa1c5 , rgba(13, 78, 87, 0.836));
    overflow: auto;
}
.about-title::before {
    content: "";
    position: absolute;
    height: 9px;
    width: 80px;
    left: 260px;
    top: 50px;
    background: linear-gradient(320deg,#338fa1c5 , rgba(13, 78, 87, 0.836));
    overflow: auto;
} */

.contain-about {
    position: relative;
    overflow: hidden;
    min-height: 80vh;
    width: 100%;
    background:linear-gradient(#053038,#083a41);
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    color: #fff;
    padding: 30px 0;
    padding: 40px 10px;
}

.about {
padding: 30px 0;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
margin: auto;
overflow: hidden;
}
.about .left-sec-about {
   position: relative;
   bottom: 20px;
   /* left: 60px; */
   overflow: hidden;
   margin: auto;
}
.about .left-sec-about img {
    /* width: 580px;
    height: 700px; */
    width: 700px;
    height: 900px;
    object-fit: cover;
    border-radius: 9px;
    border: rgba(255, 255, 255, 0.685) solid 1px;
    margin: auto;
    margin-top: 30px;
    opacity: 0.9;
}

.about .right-sec-about{
    text-align: center;
}
.about .right-sec-about h1 {
    color: #e2f1ff;
    font-size: 70px;
    padding-bottom: 15px;
    padding-left: 10px;
    text-transform: capitalize;
}

.about .right-sec-about p {
    color: #ffffffcc;
    font-size: 16px;
    width: 700px;
    /* padding: 10px; */
    line-height: 40px;
    /* padding-right: 110px !important; */
}
.about .right-sec-about a {
    color: #fff;
    font-size: 18px;
    background-color: #1ac5e4d2;
    padding: 9px 19px;
    border-radius: 3px;
    margin-left: 10px;
    /* transition: 0.1s; */
}
.about .right-sec-about a:hover {
    background: linear-gradient(320deg, #0b6879a1, #1352a52f );
    transition: 0.1s all ease-out;
}
@media screen and (max-width:1150px){
    .about {
        flex-direction: column;
    }
    .about .right-sec-about {
        text-align: center;
    }
    .about .left-sec-about img {
        max-width: 510px;  
    }
}
@media screen and (max-width:720px) {
    .about .right-sec-about p  {
        max-width: 75vw;
        flex-wrap: wrap;
    }
    .about .left-sec-about img {
        max-width: 410px;
        height: 500px;
    }
}
/*========================================== END SEC ABOTU =============================================*/

/*========================================== START WORK SEC =============================================*/

.works {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    width: 100% !important;
    background: linear-gradient(320deg, rgba(0, 0, 0, 0.3), #053038b2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.works .work-title {
    color: #fff;
    font-size: 65px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    top: 40px;
    z-index: 999;
}
.contain-works {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 140px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.contain-works .contain-image {
    margin: 60px auto;
}
.contain-works .contain-image:hover .main-image {
    transform: scale(1.1);
    transition: all 0.3s ease;
}


.works .contain-image .main-image {
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 4px; 
    object-fit: cover;
}

.works .contain-image .contain-small-img{
    position: absolute;
    width: 100%;
    margin-top: 10px;
}
.works .contain-image .contain-small-img img {
    width: 86px;
    height: 80px;
    cursor: pointer;
    border-radius: 4px;
    border: 5px solid #1ac6e4;
}
@media screen and (max-width: 400px) {
    .contain-works {
        flex-direction: column;
    }
}
/*========================================== END WORK SEC =============================================*/

/*========================================== START CONTACT SEC =============================================*/

.sec-contact {
    padding: 70px 120px;
    position: relative;
    overflow: hidden;
    /* min-height: 100vh; */
    width: 100% !important;
    background: linear-gradient(320deg, rgba(0, 0, 0, 0.801), #0b788ba1 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    color: #fff;
}
.sec-contact::after {
    position: absolute;
    top: 20px;
    right: 30px;
    content: "";
    height: 350px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 50%;
    z-index: -1;
    opacity: 1;
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    animation-name: after;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.sec-contact::before {
    position: absolute;
    bottom: 20px;
    left: 0;
    content: "";
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 50%;
    z-index: -1;
    opacity: 1;
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    animation-name: before;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.contact-title {
    color: #fff;
    font-size: 55px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 45px;
    letter-spacing: 1px;
    position: relative;
    z-index: 999;
}
.form-contact input {
}
.form-contact {
    background-color: #157d9225;
    padding: 24px 20px;
    border-radius: 12px;
    /* width: 600px; */
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
.btn-signIN {
    background-color: #1494aa;
    color: rgb(228, 228, 228);
    font-size: 20px;
    padding: 8px 23px;
    letter-spacing: 1px;
    transition: 0.2s ease-out;
    margin: auto;
    opacity: 1;
    width: 100%;
}
.btn-signIN:hover {
    color: #fff;
    letter-spacing: 2px;
    opacity: 0.9;
}

/*========================================== END CONTACT SEC =============================================*/


/*========================================== START FOOTER =============================================*/
footer {
    background-color: #0e5461d2;
}
footer .inp-footer {
    width: 300px;
    border: none;
    outline: none;
    padding: 9px;
    margin: auto;
    display: block;
    border-radius: 3px;
}
footer .btn-footer {
    width: 100px;
    border: none;
    outline: none;
    padding: 9px;
    margin: auto;
    display: block;
    border-radius: 3px;
    background-color: #1ac6e4;
    margin-top: 10px;
}
/*========================================== END FOOTER =============================================*/
















/*========================================== scroll to top =============================================*/
.fa-up-long {
    position: fixed;
    right: -40px;
    bottom: 20px;
    color: #fff;
    background-color: #1ac5e4d2;
    /* padding: 6px 13px; */
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
    color: #fff;
    z-index: 999;
}
.show {
    position: fixed;
    right: 20px;
}

